.button {
  border-radius: 12px;
  background: #9152ff;
  outline: none;
  user-select: none;
  padding: 16px 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
  box-shadow:
    inset 0px -1px 1px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);

  &:hover {
    background: #762bf8;
  }
}

.disabled {
  background: #312746;
  color: rgba(255, 255, 255, 0.5);
  box-shadow:
    inset 0px -1px 1px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);

  &:hover {
    background: #312746;
    cursor: not-allowed;
  }
}
